# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node & Package Managers
node_modules
**/node_modules
package-lock.json
**/package-lock.json
yarn.lock
dist
**/dist
dist-ssr
*.local

# Environment & Secrets
.env
.env*
**/.env*

# Uploads & Temp Files
uploads/*
**/uploads/*
!**/uploads/.gitkeep
*.tmp
*.bak
.local-mysql/
*.tar.gz
*.zip

# Scripts
scratch/*